:root {
    /* --border: solid red; */
}

/* Global styling */
* {
    box-sizing: border-box;
    color: white

}

body {
    font-family: Helvetica, Arial, sans-serif;
    flex-direction: column;
    background-color: black;
    border: var(--border)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    font-size: larger;
    border: var(--border);
    -webkit-text-stroke-color: black;
}

header nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px;
    border: var(--border);
}

header nav ul li {
    /* display: flex; */
    padding: 20px;
    border: var(--border);
    margin: 10px;
}

h1 {
    border: solid 2px goldenrod;
    color: white;
    background-color: rgba(218, 165, 32, 0.399);
    padding: 5px 5px 5px 5px;
    font-size: 50px;
}

.header2-image {
    background-image: url("./images/Header-image.1.webp");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 75px;
}

.header2-text {
    display: flex;
    text-align: center;
    justify-content: end;
    position: relative;
    padding-right: 30px;
    border: solid 3px darkgray;
}

.section-title {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: flex-end;
    border: var(--border);
    text-decoration: underline solid 2px goldenrod;
}

#odyssey {
    border: solid 2px darkgray;
    background-color: black;
    padding: 3px;
}

p {
    line-height: 1.5;
    font-size: large;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex: 100%;
    border: var(--border);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: var(--border);
    flex: 1;
    justify-content: space-around;
    margin: 10px;

}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    border-right: solid goldenrod;
    justify-content: flex-end;
    padding-right: 20px;
    flex-shrink: 0;
    /* border: var(--border); */
    margin: 0 50px 0 0;
}

#main-project {
    display: flex;
    background-image: url("./images/imjustsahen.github.io_ConcertCrawler_.png");
    background-size: cover;
    object-fit: cover;
    width:840px;
    height: 500px;
    border: solid 3px goldenrod;
    align-items: flex-end;
}

#led-wall {
    display: flex;
    background-image: url("./images/screenshot.png");
    background-size: cover;
    object-fit: cover;
    width: 400px;
    height: 300px;
    border: solid 3px goldenrod;
    flex: 1 0 100%;
    align-items: flex-end;
}

#portfolio {
    display: flex;
    background-image: url("./images/Portfolio_screenshot.png");
    background-size: cover;
    width: 400px;
    height: 300px;
    border: solid 3px goldenrod;
    flex: 1 0 100%;
    align-items: flex-end;
}

#pastel-puzzles {
    display: flex;
    background-image: url("./images/pastel_rubix.jpeg");
    background-size: cover;
    width: 465px;
    height: 300px;
    border: solid 3px goldenrod;
    flex: 1 0 100%;
    align-items: flex-end;
}

#run-buddy {
    display: flex;
    background-image: url("./images/RunBuddy.jpeg");
    background-size: cover;
    width: 100%;
    height: 300px;
    border: solid 3px goldenrod;
    align-items: flex-end;
}

.card {
    display: flex;
    border: solid 2px white;
    flex-direction: column;
    background-color: gray;
    padding: 0 10px 0 10px;
}

#main-project:hover,
#led-wall:hover,
#portfolio:hover,
#pastel-puzzles:hover,
#run-buddy:hover {
    opacity: 25%;
}

footer {
    display: flex;
    list-style: none;
    border: var(--border);
    justify-content: space-between;
    align-items: center;
}

footer nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px;
    border: var(--border);
}

footer nav ul li {
    display: flex;
    padding: 20px;
    border: var(--border);
    margin: 30px;
    justify-content: space-between;
}

footer nav ul a:hover,
header nav ul a:hover {
    text-shadow: 5px 5px 3px goldenrod;
    border: solid 2px goldenrod;
 }

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: 100%;
        text-align: center;
    }
    
    header h1,
    footer h2, {
        width: 100%;
        text-align: center;
    }
    
    footer nav ul,
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    footer nav ul li a,
    header nav ul li a {
        font-size: 20px;
    }
    
    .section-title,
    footer h2 {
        text-align: center;
        width: 100%;
    }

    #main-project {
        width: 500px;
    }
}